Toarminas/Toarminas.Android/Web References/CustomerSerive/CustomerSerive.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addCustomerDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCustomerDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addCustomerDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImages">
        <s:complexType />
      </s:element>
      <s:element name="getImagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getImagesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addCustomerDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:addCustomerDetails" />
  </wsdl:message>
  <wsdl:message name="addCustomerDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:addCustomerDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getImagesSoapIn">
    <wsdl:part name="parameters" element="tns:getImages" />
  </wsdl:message>
  <wsdl:message name="getImagesSoapOut">
    <wsdl:part name="parameters" element="tns:getImagesResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerSeriveSoap">
    <wsdl:operation name="addCustomerDetails">
      <wsdl:input message="tns:addCustomerDetailsSoapIn" />
      <wsdl:output message="tns:addCustomerDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getImages">
      <wsdl:input message="tns:getImagesSoapIn" />
      <wsdl:output message="tns:getImagesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerSeriveSoap" type="tns:CustomerSeriveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCustomerDetails">
      <soap:operation soapAction="http://tempuri.org/addCustomerDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImages">
      <soap:operation soapAction="http://tempuri.org/getImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CustomerSeriveSoap12" type="tns:CustomerSeriveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addCustomerDetails">
      <soap12:operation soapAction="http://tempuri.org/addCustomerDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImages">
      <soap12:operation soapAction="http://tempuri.org/getImages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerSerive">
    <wsdl:port name="CustomerSeriveSoap" binding="tns:CustomerSeriveSoap">
      <soap:address location="http://www.toarminascanton.com/CustomerSerive.asmx" />
    </wsdl:port>
    <wsdl:port name="CustomerSeriveSoap12" binding="tns:CustomerSeriveSoap12">
      <soap12:address location="http://www.toarminascanton.com/CustomerSerive.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>